@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poor+Story&display=swap');

.container{
    background-color: rgb(26, 25, 25);
    height: 100%;
    color: aliceblue;
}


.after-login .username p{

    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    color: aliceblue;
    
}

.container textarea{
    background-color: rgb(26, 25, 25);
    color: aliceblue;
    margin-top: 40px;
    margin-left: 65px;
    font-size: 20px;
    width: 90%;
    resize: none;
       
}

.container textarea text{
    margin-top: 40px;
}

 .container .copy{
    padding: 10px 25px;
    margin-bottom: 5px;
    margin-top: 30px;
    margin-left:70px; 
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 3px 3px 8px rgba(0,0,0,.5);
    color: white;
    background-image: linear-gradient(to right, #c7ca18,#a1837d);
    border-radius: 5px;

} 

.container .copy:hover{
    transform: scale(1.1);
}



.section h1{
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}




.section h3{
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}



.section span{
    text-shadow: 3px 3px 5px yellow ;
    font-size: 25px;
    font-family: "Poor Story", system-ui;
    font-weight: 800;
    margin-left: 20px;
    font-size: 70px;
}


.typing-demo {
    width: 30ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

  



@media  (max-width:1920px) {

    .container textarea{
        
        margin-left: 95px;
        width: 90%;
     
    }

    .container .copy{
       
        margin-left:100px
    }


    .section{
        padding-bottom: 100px;
    }


    .section h1{
        display: flex;
        flex-direction: column;
        font-size: 30px;
        margin-top: 250px;
        
       
    }

    .section p{
        color: aliceblue;
        display: inline-block;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 30px;
        border-right: 5px solid white;
        margin-left: 650px;
    }
}



@media  (max-width:1440px) {


    .container textarea{
        
        margin-left: 60px;
             
    }

    .container .copy{
       
        margin-left:70px
    }
  
    .section{
        padding-bottom: 40px;
    }


    .section h1{
        display: flex;
        flex-direction: column;
        font-size: 30px;
        margin-top: 180px;
        
    
    }

    .section p{
        color: aliceblue;
        display: inline-block;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 30px;
        border-right: 5px solid white;
        margin-left: 400px;
    }



}


@media  (max-width:850px) {


    .container textarea{
        
        margin-left: 30px;
       
     
    }

}


@media  (max-width:600px) {


    .container textarea{
        
        margin-left: 20px;
       
     
    }
    .container .copy{
       
        margin-left:30px
    }

.section h1{
    display: flex;
    flex-direction: column;
    font-size: 30px;
    margin-top: 160px;
   
}


.section span{
    font-size: 50px;
    margin-top: 40px;
}

.section p{
    margin-left: 40px;
    font-size: 18px;
}

.section h3{
    display: flex;
    flex-direction: column;
    font-size: 30px;
}



}


@media  (max-width:480px) {

   
    .container textarea{
        
        margin-left: 15px;
        
    }


    .container .copy{
       
        margin-left:20px
}
}


